.map-container {
    width: 100%;
    height: calc(100vh - 60px);
    max-height: 800px;
    border: 1px solid #ff0000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 8px;
  }
  